<%= content_for (:title) do %>
TideData.com &copy; - High and Low Tide times for beaches and rivers in the U.S.
<% end %>

<h1 id="header">Select a state:</h1>
<br />
<br />
<br />
<div id="states_index" class="container">
  <br />
  <table id="westcoast" class="states_index">
    <tr>
      <th class="west states_index">West Coast</th>
    </tr>
    <tr>
      <td class="west states_index">
        <%= link_to("Washington", "states/Washington") %>
      </td>
    </tr>
    <tr>
      <td class="west states_index">
        <%= link_to("Oregon", "states/Oregon") %>
      </td>
    </tr>
    <tr>
      <td class="west states_index">
        <%= link_to("California", "states/California") %>
      </td>
    </tr>
  </table>
  <table id="gulfcoast" class="states_index">
    <tr>
      <th class="gulf states_index">Gulf Coast</th>
    </tr>
    <tr>
      <td class="gulf states_index">
        <%= link_to("Florida", "states/Florida") %>
      </td>
    </tr>

    <tr>
      <td class="gulf states_index">
        <%= link_to("Alabama", "states/Alabama") %>
      </td>
    </tr>

    <tr>
      <td class="gulf states_index">
        <%= link_to("Mississippi", "states/Mississippi") %>
      </td>
    </tr>

    <tr>
      <td class="gulf states_index">
        <%= link_to("Louisiana", "states/Louisiana") %>
      </td>
    </tr>

    <tr>
      <td class="gulf states_index">
        <%= link_to("Texas", "states/Texas") %>
      </td>
    </tr>
  </table>
  <table id="eastcoast" class="states_index">
    <tr>
      <th class="east states_index" colspan="2">East Coast</th>
    </tr>
    <tr>
      <td class="east states_index">
        <%= link_to("Maine", "states/Maine") %>
      </td>
      <td class="east states_index">
        <%= link_to("Delaware", "states/Delaware") %>
      </td>
    </tr>
    <tr>
      <td class="east states_index">
        <%= link_to("New Hampshire", "states/New Hampshire") %>
      </td>
      <td class="east states_index">
        <%= link_to("Virginia", "states/Virginia") %>
      </td>
    </tr>
    <tr>
      <td class="east states_index">
        <%= link_to("Massachusetts", "states/Massachusetts") %>
      </td>
      <td class="east states_index">
        <%= link_to("North Carolina", "states/North Carolina") %>
      </td>
    </tr>
    <tr>
      <td class="east states_index">
        <%= link_to("Connecticut", "states/Connecticut") %>
      </td>
      <td class="east states_index">
        <%= link_to("South Carolina", "states/South Carolina") %>
      </td>
    </tr>
    <tr>
      <td class="east states_index">
        <%= link_to("New York", "states/New York") %>
      </td>
      <td class="east states_index">
        <%= link_to("Georgia", "states/Georgia") %>
      </td>
    </tr>
    <tr>
      <td class="east states_index">
        <%= link_to("New Jersey", "states/New Jersey") %>
      </td>
      <td class="east states_index">
        <%= link_to("Florida", "states/Florida") %>
      </td>
    </tr>
    <tr>
      <td class="east states_index">
        <%= link_to("Maryland", "states/Maryland") %>
      </td>
    </tr>
  </table>
</div>
<br />
<h1 id="footer">
  TideData.com&nbsp;&copy;2014
</h1>


