<% content_for(:keywords) do %>
  <% keywords = '#{@state_name}, ' + '#{@state_name} State, ' + '#{@region_name}, ' + @locations_array.join(', ') %>
  <% keywords += ", tide, tide chart, tide charts, tide height, tide prediction, tide predictions, tides, tide table, surf, sail, dive" %>
  <%= tag("meta", {name: "keywords", content: "#{keywords}"}, false, false) %>
<% end %>

<h1 class="index">
  Select a location:
</h1>

<br />
<h1 class="index">
  <span id="SelectedRegion">
    <%= @region_name %>
  </span>
</h1>
<br />

<div id="locations_index" class="container">
  <div id="locationColumns">
    <% number_of_rows_per_column = @locations_array.size / @number_of_columns %>
    <% @locations_array.each_with_index do |location, i| %>

      <% if i < number_of_rows_per_column * 1 %>
        <%= link_to locations_path(@state_name, location), class: "column_1" do %>
          <p class="capitalize"><%= "#{location}" %></p>
        <% end %>
      <% elsif i < number_of_rows_per_column * 2 %>
        <%= link_to locations_path(@state_name, location), class: "column_2" do %>
          <p class="capitalize"><%= "#{location}" %></p>
        <% end %>
      <% elsif i < number_of_rows_per_column * 3 %>
        <%= link_to locations_path(@state_name, location), class: "column_3" do %>
          <p class="capitalize"><%= "#{location}" %></p>
        <% end %>
      <% else %>
        <%= link_to locations_path(@state_name, location), class: "column_4" do %>
          <p class="capitalize"><%= "#{location}" %></p>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>
<br />

<script>
  //jQuery CSS manipulation: wraps links in 'div.column'
  //and changes percentage width of columns
  $(document).ready( function() {
    $('.column_1').wrapAll( "<div class='column' />");
    $('.column_2').wrapAll( "<div class='column' />");
    $('.column_3').wrapAll( "<div class='column' />");
    $('.column_4').wrapAll( "<div class='column' />");
    $('.column').css("width", 100 / <%= @number_of_columns %> + "%");
  });
</script>
