<% content_for(:title) do %>
  High and Low Tides of the day for <%= @location_name.titleize %>
<% end %>

<% content_for(:keywords) do %>
  <% keywords = "#{@state_name}, " + "#{@state_name} State, " + @location_name %>
  <% keywords += ", tide, tide chart, tide charts, tide height, tide prediction, tide predictions, tides, tide table, surf, sail, dive" %>
  <%= tag("meta", {name: "keywords", content: "#{keywords}"}, false, false) %>
<% end %>

<% content_for(:description) do %>
  <% description = "High and Low Tides for #{@location_name}, in #{@region_name}, #{@state_name}. TideData.com &copy; 2014" %>
  <%= tag("meta", {name: "description", content: "#{description}"}, false, false) %>
<% end %>

<br />
<br />
<br />
<h1 id="locations_show">
  <span id="SelectedLocation">
    <%= @location_name %>
  </span>
</h1>
<br />

<form id="date">
  <select id="day" onchange="getTide()">
    <option id="1" value="01">1</option>
    <option id="2" value="02">2</option>
    <option id="3" value="03">3</option>
    <option id="4" value="04">4</option>
    <option id="5" value="05">5</option>
    <option id="6" value="06">6</option>
    <option id="7" value="07">7</option>
    <option id="8" value="08">8</option>
    <option id="9" value="09">9</option>
    <option id="10" value="10">10</option>
    <option id="11" value="11">11</option>
    <option id="12" value="12">12</option>
    <option id="13" value="13">13</option>
    <option id="14" value="14">14</option>
    <option id="15" value="15">15</option>
    <option id="16" value="16">16</option>
    <option id="17" value="17">17</option>
    <option id="18" value="18">18</option>
    <option id="19" value="19">19</option>
    <option id="20" value="20">20</option>
    <option id="21" value="21">21</option>
    <option id="22" value="22">22</option>
    <option id="23" value="23">23</option>
    <option id="24" value="24">24</option>
    <option id="25" value="25">25</option>
    <option id="26" value="26">26</option>
    <option id="27" value="27">27</option>
    <option id="28" value="28">28</option>
    <option id="29" value="29">29</option>
    <option id="30" value="30">30</option>
    <option id="31" value="31">31</option>
  </select>
  &nbsp;
  &nbsp;
  <select id="month" onchange="getTide()">
    <option id="Jan" value="01">January</option>
    <option id="Feb" value="02">February</option>
    <option id="Mar" value="03">March</option>
    <option id="Apr" value="04">April</option>
    <option id="May" value="05">May</option>
    <option id="Jun" value="06">June</option>
    <option id="Jul" value="07">July</option>
    <option id="Aug" value="08">August</option>
    <option id="Sep" value="09">September</option>
    <option id="Oct" value="10">October</option>
    <option id="Nov" value="11">November</option>
    <option id="Dec" value="12">December</option>
  </select>
  &nbsp;
  &nbsp;
  <select id="year" onchange="getTide()">
    <option id="2014" value="2014">2014</option>
  </select>
</form>
<br />
<br />
<table id="tides" class="center">
  <tr>
    <th colspan="2">Tides for
      <span id="tabledate"></span>
      <br />
    </th>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td class="left"><span id="tide1"></span></td>
    <td class="right"><span id="time1"></span></td>
  </tr>
  <tr>
    <td class="left"><span id="tide2"></span></td>
    <td class="right"><span id="time2"></span></td>
  </tr>
  <tr>
    <td class="left"><span id="tide3"></span></td>
    <td class="right"><span id="time3"></span></td>
  </tr>
  <tr>
    <td class="left"><span id="tide4"></span></td>
    <td class="right"><span id="time4"></span></td>
  </tr>
</table>
<br />
<br />
<br />
<p id="note">
  <%= "NOTE: " + "All times are listed in Local Standard Time(LST) or, Local Daylight Time (LDT) (when applicable). All heights are in feet referenced to Mean Lower Low Water (MLLW)." + "All data is obtained from NOAA." %>
</p>
<br />
<%= content_tag :div, id: "annual_data", data: {tides: @annual_data} do %>
<% end %>
<script type="text/javascript">
  setToday();
  getTide();
</script>
